:root {
  --top-color: #f8c7ce;
  --bottom-color: #ec94f9;
  --blend-color: #fae3ef;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: auto;
  scrollbar-width: thin;
  scrollbar-gutter: unset;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background-color: #e7e7ea;
}
  /* Disable drag and drop on all elements */
  * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  /* Disable drag and drop on all images */ 
a {
  color: #00aff4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-base {
  overflow-wrap: break-word;
  font-size: 13px;
  line-height: 20px;
  color: #060607;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  /* background-image: url("/public/background.jpg"); */
  background: linear-gradient(to bottom left, #f7c4ce, #c9d4fd);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.profile-border {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
    /* z-index: 1; */
    position: relative;
    display: flex;
    flex-direction: column;
    /* scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
    /* overflow-x: hidden; */
    background: linear-gradient(to bottom, var(--top-color), var(--bottom-color) );
    max-height: calc(100% - 100px);
    border-radius: 8px;
    margin: 0 auto;
}
.profile {
  z-index: 1;
  position: relative;
  display: flex; 
  flex-direction: column;
  /* overflow-x: hidden; */
  background: linear-gradient(to bottom, #fce9eb, #f7d4fc);
  width: 600px;
  max-height: calc(100vh - 100px);
  /* color: white; */
  border-radius: 8px;
  margin: 0 auto;
}

.profile .header {
  padding: 16px 16px 5px 16px;
}

.profile #banner {
  width: 100%;
  height: 190px;
}
.profile #banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: not-allowed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.avatar {
  border: 8px solid var(--blend-color);
  background-color: var(--blend-color);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 120px;
  left: 16px;
}

.avatar img {
  width: 120px;
  border-radius: 50%;
  cursor: not-allowed;
}

.status {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  position: absolute;
  background-color: var(--blend-color);
  bottom: 14.64%;
  right: 14.64%;
  border-radius: 50%;
  /* padding: 8px; */
  border: 8px solid var(--blend-color);
}

.status img {
  width: 20px;
}

.badges {
  padding: 2px;
  background-color: #fdf2f5;
  border-radius: 8px;
  /* margin-right: 299px; */
  /* -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  position: absolute;
  top: 219px;
  left: 160px;
}

.badges img {
  width: 26px;
  height: 26px;
}

.card {
  /* margin: 24px 16px 16px; */
  margin: 80px 16px 16px;
  background: linear-gradient(to bottom, #fdf1f5, #fbe8fd);
  border-radius: 5px;
  /* padding-top: -100px; */
  /* max-height: 100%; */
  /* max-height: calc(100vh - 100px); */
  /* overflow-x: hidden; */
}

.username {
  font-size: 20px;
  color: #060607;
  margin: 0 16px 0px 3.5px;
}

.username .text-username {
  font-weight: 700;
}

.username .text-discriminator {
  color: #4e5058;
  font-weight: 600;
  border-radius: 50%;
}

.highlight-best-link {
  color: #64da60;
}

.highlight-best-link:hover {
  color: #84fe80;
}

.text-status {
  margin: 0 16px 10px 20px;
  color: #060607;
}

.divider {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: rgba(255, 255, 255, 0.06);
}

.body {
  padding: 0 20px 16px 20px;
  max-height: calc(100vh - 500px);
}

.body .title-body {
  font-weight: 700;
  color: #060607;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.body .roles-body {
  margin-top: 15px;
}

.content {
    border-top: 1px solid #d2cdce;
    padding-top: 12px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 500px);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5px;
}

.about-section {
  margin-bottom: 16px;
}

.roles-body {
  -ms-flex-wrap: wrap;
  margin: 1px;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roles-body .rol {
  border-radius: 4px;
  /* background: #292b2f; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 4px 4px 0;
  padding: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 22px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 0 0 1px #d2cdce;
}

.roles-body .rol span {
  color: black;
  margin-left: 4px;
  margin-right: 4px;
}

.social-divider {
  margin-bottom: 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.platform {
  /* margin: 1px; */
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 12px;
  border-radius: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 0 1px #d2cdce;
}

.platform-username {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.platform-image {
  width: 20px;
  height: 20px;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg)
    brightness(70%) contrast(70%);
  filter: invert(86%) sepia(5%) saturate(136%) hue-rotate(177deg)
    brightness(70%) contrast(70%);
}

.connect:hover {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(0%) contrast(0%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(0%) contrast(0%);
}

.softpink {
  color: #f8bbd0;
}

.rosepink {
  color: #ecdcd4;
}

.tim {
  color: #9146ff;
}

.green {
  color: #1ed760;
}

@media only screen and (max-device-width: 640px) {
  .profile {
    width: 300px;
  }

  .profile #banner {
    height: 100px;
  }

  .badges {
    top: 120px;
    left: 165px;
  }

  .avatar {
    top: 55px;
  }

  .avatar img {
    width: 80px;
  }

  .status img {
    width: 16px;
  }

  .profile .header {
    padding: 10px 16px 5px 16px;
  }

  .body {
    padding: 0 16px 16px 16px;
  }
  .card {
  margin: 75px 16px 16px;
}
  .username {
  font-size: 20px;
  color: #060607;
  margin: 0 16px 0px -3px;
}
  .text-status {
    margin: 0 16px 0px 14px;
    color: #060607;
  }

  .socials {
    display: block;
  }

  .platform {
    width: 196px;
  }
}
